[submodule "solana-starter"]
	path = solana-starter
	url = https://github.com/Swarnim-Chandve/solana-starter.git
[submodule "Vault"]
	path = Vault
	url = https://github.com/Swarnim-Chandve/Vault.git
	branch = master
